Flask==1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.3
wheel==0.26.0
python-dateutil==1.5
mongoengine==0.10.6
flask-mongoengine==0.7.5
mongokit==0.9.1.1
pymongo==2.8
flask-login==0.4.0

