{% include "header.html" %}

<div class="container-fluid">
      <div class="row">

        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">

          {% include "navigation.html" %}
          
          <h1>{{title}}</h1>

          <div id="annotator-container">
            {{text | safe}}
          </div>
        </div>
      </div>

</div>

<script src="/static/js/annotator-full.min.js"></script>
<script src="/static/js/jquery.i18n.min.js"></script>
<script src="/static/js/jquery.dateFormat.js"></script>
<script src="/static/js/jquery.slimscroll.js"></script>
<script src="/static/js/annotator.js"></script>
<script src="/static/js/annotator.touch.js"></script>
<script src="/static/js/view_annotator.js"></script>
<script src="/static/js/categories.js"></script>
<script src="/static/js/search.js"></script>

<script>
    jQuery(function ($) {
        $.i18n.load(i18n_dict);
        // Customise the default plugin options with the third argument.
        var annotator = $('body').annotator().annotator().data('annotator');
        var propietary = '{{username}}';
        annotator.addPlugin('Permissions', {
            user: propietary,
            permissions: {
                'read': [propietary],
                'update': [propietary],
                'delete': [propietary],
                'admin': [propietary]
            },
            showViewPermissionsCheckbox: false,
            showEditPermissionsCheckbox: false
        });
        $('body').annotator().annotator('addPlugin', 'Store' , {
            prefix: '',
            urls: {
                create: "/create/annotations/{{did}}",
                read: "/read/annotations/{{did}}/:id",
                update: "/update/annotations/:id",
                destroy: "/destroy/annotations/:id",
                // search: "/seach/annotations/{{did}}"
                }          
        
        });
        
        $('body').annotator().annotator('addPlugin', 'AnnotatorViewer');
        $('body').annotator().annotator("addPlugin", "Touch");
        $('body').annotator().annotator('addPlugin', 'Categories', {
                    claim: 'annotator-hl-claim',
                    counterclaim: 'annotator-hl-counterclaim',
                    evidence: 'annotator-hl-evidence',
                    reason: 'annotator-hl-reason' }
        );

        //Annotation scroll
        $('#anotacions-uoc-panel').slimscroll({height: '100%'});
    });
</script>

{% include "footer.html" %}
