        <div class="col-sm-3 col-md-2 sidebar">
            {% if role|string() == "student" %}
              <ul class="nav nav-sidebar">
                <li><a href="/dashboard/annotate">Annotate</a></li>
                <li><a href="/dashboard/diagram">Diagram</a></li>
                <li><a href="/dashboard/write">Write</a></li>
              </ul>
            {% elif role|string() == "teacher" %}
                <ul class="nav nav-sidebar">
                    <li><a href="/dashboard/view">View</a></li>
                    <li><a href="/dashboard/upload">Upload</a></li>
                </ul>
            {% endif %}
        </div>
