{% include "header.html" %}

<div class="container-fluid">
      <div class="row">

        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">

        {% if upload %}
            <div class="alert alert-info" role="alert">
              Document saved!
            </div>
        {% endif %}

          {% include "navigation.html" %}

            <form class="form-horizontal" action="/save/document" method="POST">
                <fieldset>

                <!-- Form Name -->
                <legend>Document</legend>


                <!-- Text input-->
                <div class="row">
                    <div class="form-group">
                      <label class="col-md-1 control-label" for="title"><strong>Title</strong></label>  
                      <div class="col-md-8">
                      <input id="title" name="title" placeholder="Enter title" class="form-control input-md" type="text" required="required" {% if text %}value="{{title}}"{% endif %}
                      >
                        
                      </div>
                    </div>
                </div>


                <!-- Textarea -->
                <div class="row">
                    <div class="form-group">
                      <label class="col-md-1 control-label" for="text"><strong>Text</strong></label>
                      <div class="col-md-8">                     
                        <textarea class="form-control" id="text" name="text" rows="15" required="required">{% if text %}{{text}}{% endif %}</textarea>
                      </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-1 control-label" for="submit"></label>
                      <div class="col-md-4">
                        <button id="submit" name="submit" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                </div>

                </fieldset>
            </form>
          
          </div>
        </div>
      </div>
    </div>


{% include "footer.html" %}
