{% include "header.html" %}

<div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">

          {% if delete %}
              <div class="alert alert-danger" role="alert">
                Document deleted!
              </div>
          {% endif %}

          {% include "navigation.html" %}

          <h2>Documents</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Text</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for document in documents %}
                <tr>
                  <td>{{loop.index}}.</td>
                  <td>{{document['title']}}</td>
                  <td>{{document['text'] | truncate(50)}}</td>
                  <td><a href="/edit/document/{{document['_id']}}">Edit</a> | <a href="/delete/document/{{document['_id']}}">Delete</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


{% include "footer.html" %}
